[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
aiofiles = "*"
jinja2 = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
ginza = {ref = "297820bbc8e29ff9dd3681d080aec8b0d15242b7", git = "https://github.com/megagonlabs/ginza.git"}
ja-ginza = "*"
psutil = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn main:app --reload"

[pipenv]
allow_prereleases = true
